{% extends "base.html.twig" %}


{# parent() permet de récupérer ce que contient le block de la base #}
{% block title %}
{{ parent() }} | Home
{% endblock %}

{# si je redéfinis le contenu, j'écrase le contenu présent dans la base #}
{% block body %}
    <h1>Welcome to Series !</h1>
{% endblock %}