<header>
    <h1>
        <a href="{{ path('main_home') }}">
            <img src="{{ asset('img/logo.svg') }}" alt="Series | Home">
        </a>
    </h1>
    {% include("bodyStructures/nav.html.twig") %}
</header>